.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjust as needed */
  }

.card {
    width: 300px;
    background-image: linear-gradient(#282828,#817d7d,#282828);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  }
  
  .card img {
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .card img:hover{
    transform: translateY(-5px);
    /* box-shadow: 10px 10px gold; */
    filter: drop-shadow(10px 10px 50px gold);
  }
  
  .title {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  p {
    color: #ccc;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  a {
    color: #1a73e8;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  small {
    color: #999;
    font-size: 12px;
  }
  
  .small-margin {
    margin-bottom: 5px;
  }


  .select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select {
    font-size: 16px;
    padding: 10px;
    border: 2px solid #282828;
    border-radius: 5px;
    background-color: #282828;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.select option {
    background-color: #282828;
    color: #fff;
}

#currentState {
    color: #271616;
    margin-top: 10px;
}

/* heart */
/* Likes styles */
.likes {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  /* Heart icon styles */
  .heart-icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 5px;
    width: 24px;
    height: 24px;
    fill: #ccc;
  }
  
  .heart-icon.liked {
    fill: red;
  }
  
  .like-count {
    color: #ccc;
    font-size: 14px;
  }
  
  /* Comments section styles */
   .comments-section {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    /* display: none; Hide comments section by default */
  }

  .comments-section p{
    margin-top: 2px;
    text-align: center;
  }

  .comments-section h4{
    text-align: center;
  }


  .button-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .my-buttons{
    color: #673a3a;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #18181a;
    padding:10px;
    border-radius: 5px;
    margin-bottom: 1px;
    background-color: #ccc;
    box-shadow: 2px 2px 2px #ccc;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .my-buttons:hover {
    background-color: #786767;
    font-size: 15px;
  } 

  .my-buttons:active{
    transform: translateX(2px) translateY(2px);
    box-shadow: 2px 2px 2px #ccc;
  }

  .form{
    margin-top: 10px;
    display: flex;
    flex-direction: column;

  }

  .form textarea{
    margin-top: 10px;
  }

  .like-favorite{
    display: flex;
    justify-content: space-between;
  }

  /* favorite */
  .checkbox-wrapper{
    padding: 10px;

  }

  .checkbox-input{
    padding: 40px;
    background-color: black;
  }

  .favorite{
    color: #673a3a;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #18181a;
    padding:10px;
    border-radius: 5px;
    margin-bottom: 1px;
    background-color: #ccc;
    box-shadow: 2px 2px 2px #ccc;
    transition: transform 0.2s, box-shadow 0.2s;
  }

  .favorite-not{
    margin-right: 0px;
    color: #673a3a;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #18181a;
    padding:10px;
    border-radius: 5px;
    margin-bottom: 1px;
    background-color: goldenrod;
    box-shadow: 2px 2px 2px #ccc;
    transition: transform 0.2s, box-shadow 0.2s;
  }