body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#3E5151,#DECBA4); 
  }

.nav_div {
    background-image: -o-linear-gradient(#a8c0ff,#3f2b96);
    color: #fff;
    padding: 10px;
    
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px black;
  }
  
  .navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
  }
  
  .navigation__item {
    margin-left: 20px;
  }
  
  .navigation__link {
    color: #fff;
    margin-right: 50px;
    text-decoration: none;
    font-size: 16px;
  }
  
  .navigation__link:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 2px;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 40px;
    height: 40px; 
    margin-right: 10px;
  }
  
  .site-name {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
  }

  .site-name:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 2px;
  }

  .head{
    display: flex;
    align-items: center;
  }

